.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--nav-bg);
  color: var(--text);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navContent {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.toggle {
  background: none;
  border: none;
  color: var(--text);
  font-size: 1.3rem;
  cursor: pointer;
}
